.image {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  object-position: center;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  padding: 0;
}

.moto {
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: 100;
  font-size: 22px;
  font-weight: 600;
  color: white;
}

@media only screen and (max-width: 780px) {
  .moto {
    top: 15px;
    right: 30px;
    font-size: 14px;
  }
}
